* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(148, 102, 223);
}

.completed {
  background-color: rgb(100, 236, 100);
}
